{% extends "base.html" %} 

{% load i18n %}

{% block content %}
<section class="container d-flex justify-content-center align-items-center 
    form-container">
    <div class="logout-form-wrapper">
        <h2 class="text-center mb-4">{% trans "Log Out" %}</h2>
        <p class="text-center">
            {% trans 'Are you sure you want to log out?' %}
        </p>

        <form method="post" action="{% url 'account_logout' %}" 
            class="logout-form" aria-label="Logout Form">
            {% csrf_token %}
            
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" 
                    value="{{ redirect_field_value }}"/>
            {% endif %}

            <button type="submit" class="btn btn-danger w-75 mx-auto d-block" 
                aria-label="Confirm Sign Out">
                {% trans 'Log Out' %}
            </button>
        </form>

        <div class="text-center mt-3">
            <a href="{% url 'home' %}" class="btn btn-secondary" 
                aria-label="Cancel Logout and Return Home">
                {% trans "Cancel" %}
            </a>
        </div>
    </div>
</section>
{% endblock %}